.Rproj.user
.Rhistory
.RData
.Ruserdata
# Data folders
inputs/
cache/

# Large raster files
*.tif
*.zip

# Reproducible checksums
CHECKSUMS.txt


# RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata
CA_FAO_forest_2019/
